<h1>{{ title }}</h1>
<p>Below is a demo of different Angular/angularjs hybrid scenarios</p>

<section>
  <header>
    1. Downgraded Angular component (<code [innerText]="'<bird></bird>'"></code>) calling an angularjs service:
  </header>
  <p>
    <bird></bird>
  </p>
</section>

<section>
  <header>
    2. Downgraded Angular component (<code [innerText]="'<cat></cat>'"></code>) calling an angularjs service that calls
    an Angular service
  </header>
  <p>
    <cat></cat>
  </p>
</section>

<section>
  <header>
    3. Upgraded angularjs component (<code [innerText]="'<dog></dog>'"></code>) calling an Angular service
  </header>
  <p>
    <dog></dog>
  </p>
</section>

<section>
  <header>
    4. Upgraded angularjs component (<code [innerText]="'<elephant></elephant>'"></code>) calling an Angular service that calls an
    angularjs service
  </header>
  <p>
    <elephant></elephant>
  </p>
</section>

<section>
  <header>
    5. Downgraded Angular component (<code [innerText]="'<frog></frog>'"></code>) that contains angularjs directive
  </header>
  <p>
    <frog></frog>
  </p>
</section>

<section>
  <header>
    6. Upgraded angularjs component (<code [innerText]="'<giraffe></giraffe>'"></code>) that contains Angular component
  </header>

  <p>
    <giraffe></giraffe>
  </p>
</section>
