<h1>{{ title }}</h1>
<p>Below is a demo of different Angular/angularjs hybrid scenarios, see
  <a href="https://github.com/domi7777/ng-hybrid-decorators/tree/master/demo/src/app">
    source code</a>.
</p>

<section>
  <header>
    1. Downgraded Angular component (<code [innerText]="'<demo-bird></demo-bird>'"></code>) calling an angularjs service:
  </header>
  <p>
    <demo-bird></demo-bird>
  </p>
</section>

<section>
  <header>
    2. Downgraded Angular component (<code [innerText]="'<demo-cat></demo-cat>'"></code>) calling an angularjs service that calls
    an Angular service
  </header>
  <p>
    <demo-cat></demo-cat>
  </p>
</section>

<section>
  <header>
    3. Upgraded angularjs component (<code [innerText]="'<demo-dog></demo-dog>'"></code>) calling an Angular service
  </header>
  <p>
    <demo-dog></demo-dog>
  </p>
</section>

<section>
  <header>
    4. Upgraded angularjs component (<code [innerText]="'<demo-elephant></demo-elephant>'"></code>) calling an Angular service that calls an
    angularjs service
  </header>
  <p>
    <demo-elephant></demo-elephant>
  </p>
</section>

<section>
  <header>
    5. Downgraded Angular component (<code [innerText]="'<demo-frog></demo-frog>'"></code>) that contains angularjs directive
  </header>
  <p>
    <demo-frog></demo-frog>
  </p>
</section>

<section>
  <header>
    6. Upgraded angularjs component (<code [innerText]="'<demo-giraffe></demo-giraffe>'"></code>) that contains Angular component
  </header>
  <p>
    <demo-giraffe></demo-giraffe>
  </p>
</section>
